<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Socket.IO whiteboard</title>
 
</head>
<body>

  <canvas id="content" #content class="whiteboard" ></canvas>

  <div class="colors">
    <div class="color black"></div>
    <div class="color red"></div>
    <div class="color green"></div>
    <div class="color blue"></div>
    <div class="color yellow"></div>
    <div class="color"><button (click)="downloadPDF()">Capture Drawing</button></div>
    <p> </p><input type="file" (change)="preview($event)" accept="image/*">
  </div>

<!-- <div id="content" #content> -->
  <h1></h1>
  <!-- <p>click button to download the content</p> -->
<!-- </div> -->


  <script src="../../assets/js/socket.io.js"></script>
  <script src="../../assets/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  
</body>
</html>